/* CSS Document */


@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
	background: #6d89a6;
	font-size:1.3rem;
	line-height: 32px;
	color: #ffffff;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
	}
header, nav, section, footer {
    width: 960px;
    margin:auto;
}
footer {
    background-color: #394757;
    text-align: center;
}
article {
    background-color: #495C70;
    padding: 1rem;
    margin-bottom: 25px;
}
h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}	

h1 a {
    text-decoration: none;
}

h3 {
	font-size: 30px;
	text-align: center;
	color: #FFF;
}

h3 a {
	color: #FFF;
}

a {
	color: #a6d1ff;
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	font-family: 'Bree Serif', 'serif';
	}

#container {
	margin: 0 auto;
}

/* MENU */
nav {
	margin: 25px auto;
	background-color: #394757;
}
nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
	}
nav ul li {
	display:inline-block;
	background-color: rgba(57, 71, 87, 0.9);
	}
nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}
nav a:hover { 
	background-color: #000000; 
}
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px;
}
nav ul li:hover > ul {
	display:inherit;
}
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

/* CONTENIDO */
h2.title {
    margin-top: 1rem;
    margin-bottom: 0;
}
p.created {
    margin-top: 0;
    font-size: 1rem;
    color: #a6d1ff !important;
}
