body {
    background-color: #6d89a6;
}
h1, h2, p {
    color: #fff;
    text-align: center;
}
#installForm, div{
    width: 450px;
    font-size: 16px;
    background: #495C70;
    padding: 30px 30px 15px 30px;
    border: 5px solid #53687E;
    margin: auto;
    border-radius: 5px;
}
#installForm input[type=submit],
#installForm input[type=button],
#installForm input[type=text],
#installForm input[type=email],
#installForm input[type=password],
#installForm textarea,
#installForm label
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;

}
#installForm label {
    display:block;
    margin-bottom: 10px;
}
#installForm label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
#installForm input[type=text],
#installForm input[type=password],
#installForm input[type=email]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}
#installForm textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}

#installForm textarea:focus,
#installForm input[type=text]:focus,
#installForm input[type=email]:focus,
#installForm input[type=password]:focus,
#installForm input[type=email] :focus
{
    border-bottom: 1px dashed #D9FFA9;
}

#installForm input[type=submit],
#installForm input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
#installForm input[type=submit]:hover,
#installForm input[type=button]:hover{
    background: #394D61;
}
